@mixin container {
  min-width: 320px;

  @media #{$tablet-widths} {
    min-width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1200px;
    margin: 0 auto;
  }
}

@mixin tablet {
  @media #{$tablet-widths} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop-widths} {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}
