@font-face {
  font-family: 'PT Sans';
  src: url('assets/fonts/ptsans.woff') format('woff'), url('assets/fonts/ptsans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('assets/fonts/ptsansbold.woff') format('woff'), url('assets/fonts/ptsansbold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
