.tips {
  padding: 30px 0 11px;

  @include tablet {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
  }
}

.tips__item {
  position: relative;
  padding: 7px 20px 11px 70px;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0 42px;

    &--gift {
      order: 1;
    }
  }

  @include desktop {
    padding-bottom: 67px;
  }
}

.tips__icon {
  position: absolute;
  top: 0;
  left: 20px;
  width: 41px;
  height: 41px;
  fill: $bg-blue;

  @include tablet {
    position: static;
    width: 80px;
    height: 80px;
    margin-bottom: 19px;
  }
}

// content-title styles for tips block
.tips .content-title {
  text-align: left;

  @include tablet {
    max-width: 180px;
    margin-bottom: 19px;
    text-align: center;
  }
}

// content-text styles for tips block
.tips .content-text {
  text-align: left;

  @include tablet {
    max-width: 180px;
    text-align: center;
    line-height: 1.7;
  }

  @include desktop {
    max-width: 280px;
  }
}
