.photo {
  .title {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000000;
      opacity: 0.1;
    }

    @include tablet {
      &::after {
        display: none;
      }
    }
  }

  .title__wrapper {
    @include tablet {
      padding: 66px 20px 61px;
    }

    @include desktop {
      padding-top: 103px;
    }
  }

  @include tablet {
    .title .content-title {
      font-size: 3rem;
    }
  }

  .content-title {
    margin-bottom: 25px;
  }
}
