.attractions {
  background-color: $bg-lightgray;

  &--pic {
    color: #ffffff;
    background-color: $bg-blue;

    .attractions__item::after {
      display: none;
    }

    .attractions__item {
      padding: 42px 20px 29px;

      @include desktop {
        padding-top: 51px;
      }
    }
  }

  @include tablet {
    display: flex;
  }
}

.attractions__item {
  position: relative;
  padding: 28px 20px 17px;
  flex: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
  }

  &:last-child::after {
    display: none;
  }

  @include tablet {
    padding: 39px 0 36px;
    &::after {
      display: none;
    }
  }

  @include desktop {
    padding-bottom: 57px;
  }
}

.attractions__pic {
  flex: 2;
  height: 260px;
  font-size: 0;
  background: center no-repeat;
  background-size: cover;

  &--city {
    background-color: #a9b5a5;
    background-image: url('../img/photo-city-mobile@1x.jpg');
  }

  &--bridge {
    background-color: #e8c4a9;
    background-image: url('../img/photo-bridge-mobile@1x.jpg');
  }

  @include retina {
    &--city {
      background-image: url('../img/photo-city-mobile@2x.jpg');
    }

    &--bridge {
      background-image: url('../img/photo-bridge-mobile@2x.jpg');
    }
  }

  @include tablet {
    min-width: 512px;
    height: unset;
    min-height: 257px;

    &--city {
      background-image: url('../img/photo-city-tablet@1x.jpg');
    }

    &--bridge {
      order: -1;
      background-image: url('../img/photo-bridge-tablet@1x.jpg');
    }

    @include retina {
      &--city {
        background-image: url('../img/photo-city-tablet@2x.jpg');
      }

      &--bridge {
        background-image: url('../img/photo-bridge-tablet@2x.jpg');
      }
    }
  }

  @include desktop {
    min-width: 800px;

    &--city {
      background-image: url('../img/photo-city@1x.jpg');
    }

    &--bridge {
      background-image: url('../img/photo-bridge@1x.jpg');
    }

    @include retina {
      &--city {
        background-image: url('../img/photo-city@2x.jpg');
      }

      &--bridge {
        background-image: url('../img/photo-bridge@2x.jpg');
      }
    }
  }
}

.attractions__img {
  width: 100%;
  height: auto;
}


// content-title styles for attractions block
.attractions .content-title {
  @include tablet {
    max-width: 160px;
    padding: 0 20px;
    margin: 0 auto 5px;
  }
}

// content-text styles for attractions block
.attractions .content-text {
  @include tablet {
    max-width: 180px;
    padding: 0 20px;
    margin: 0 auto 17px;
    line-height: 1.7;

    &:last-child {
      margin-bottom: 6px;
    }
  }

  @include desktop {
    max-width: 280px;
  }
}
