.attractions {
  background-color: $bg-lightgray;

  &--pic {
    color: #ffffff;
    background-color: $bg-blue;
  }

  @include tablet {
    display: flex;
  }
}

.attractions__item {
  padding: 42px 20px 22px;
  flex: 1;
}

.attractions__pic {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
}

.attractions__img {
  width: 100%;
  height: auto;
}
