.attractions {
  background-color: $bg-lightgray;

  &--pic {
    color: #ffffff;
    background-color: $bg-blue;

    .attractions__item::after {
      display: none;
    }
  }

  @include tablet {
    display: flex;
  }
}

.attractions__item {
  position: relative;
  padding: 42px 20px 22px;
  flex: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
  }

  &:last-child::after {
    display: none;
  }

  @include tablet {
    &::after {
      display: none;
    }
  }
}

.attractions__pic {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;

  @include tablet {
    &--reverse {
      order: -1;
    }
  }
}

.attractions__img {
  width: 100%;
  height: auto;
}
