.btn {
  display: block;
  max-width: 460px;
  padding: 16px 10px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.239;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $bg-blue;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
    background-color: #5496bd;
  }

  &:disabled,
  &:not([href]) {
    background-color: #e5e5e5;
  }
}
