.developer {
  padding: 22px 0 18px;
  text-align: center;

  @include tablet {
    padding: 18px 0;
    flex: 1;
  }
}

.developer__link {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;

  &:hover {
    .developer__icon {
      fill: $bg-blue;
    }
  }

  &:active {
    .developer__icon {
      fill: #b2b2b2;
    }
  }

  @include tablet {
    justify-content: flex-end;
  }

  @include desktop {
    padding: 0 44px 0 20px;
  }
}

.developer__icon {
  width: 27px;
  height: 34px;
  margin-left: 10px;
  fill: #000000;
}
