.feedback__wrapper {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.feedback__item {
  position: relative;
  padding: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
  }

  &:last-child::before,
  &:first-child::before {
    display: none;
  }

  @include tablet {
    flex-basis: 100%;

    &--impression {
      order: -1;
      flex-basis: 50%;
    }

    &--intro {
      flex-basis: 50%;
    }
  }
}
