.footer {
  @include container();
  background-color: #ffffff;
}

.footer__wrapper {
  padding: 18px 20px;

  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
