.logo {
  width: 102px;
  height: 55px;
  margin: 0 auto;

  @include tablet {
    &--mobile,
    &--desktop {
      display: none;
    }
  }

  @include desktop {
    &--desktop {
      display: block;
      width: 188px;
    }

    &--tablet {
      display: none;
    }
  }
}

.logo--mobile .logo__img {
  width: 102px;
  height: 83px;
}

.logo--tablet .logo__img {
  width: 102px;
  height: 83px;
}

.logo--desktop .logo__img {
  width: 188px;
  height: 96px;
}

.logo__img {
  position: relative;
  z-index: 1;
}
