.menu {
  padding: 18px 0;
  text-align: center;

  @include tablet {
    flex: 1;
    text-align: left;
  }

  @include desktop {
    text-align: center;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.24;
  text-decoration: none;
  color: #000000;

  @include desktop {
    padding: 0 20px;
  }
}
