.nav {
  position: relative;
  background-color: $bg-blue;

  @include tablet {
    background-color: #ffffff;
  }
}

.nav__wrapper {
  @include tablet {
    padding: 0 20px;
  }
}

.nav__toggle {
  position: absolute;
  right: 20px;
  top: 100%;
  width: 25px;
  height: 25px;
  padding: 17px 0 0;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.nav__burger {
  width: 25px;
  height: 25px;
  fill: $bg-blue;
}

.nav__close {
  position: absolute;
  right: 20px;
  top: 14px;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.nav__cross {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
  }
}

.nav__item {
  padding: 0 20px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(#010101, 0.2);
  color: #ffffff;
  background-color: $bg-blue;
  box-shadow: 0 1px 0 0 rgba(#ffffff, 0.2) inset;

  &:last-child {
    border-bottom: none;
    box-shadow: 0 -3px 5px 0 rgba(#010101, 0.2) inset;
  }

  &--logo {
    display: none;

    .nav__link {
      padding: 0;
    }
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .nav__link {
      opacity: 0.3;
    }
  }

  &--current {
    &:hover,
    &:active {
      background-color: $bg-blue;

      .nav__link {
        opacity: 1;
      }
    }
  }

  @include tablet {
    width: 20%;
    padding: 0;
    font-size: 1.4rem;
    color: #000000;
    border-bottom: none;
    background-color: #ffffff;
    box-shadow: none;

    &:last-child {
      box-shadow: none;
    }

    &--logo {
      display: block;
    }

    &:hover {
      background-color: #ffffff;
    }

    &--current {
      .nav__link {
        color: #766357;

        &:hover {
          color: #604e43;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }
  }
}

// todo add shadows/borders
.nav__link {
  display: block;
  padding: 14px 2px;
  color: #ffffff;
  text-decoration: none;

  @include tablet {
    padding: 17px 2px;
    color: #000000;

    &:hover {
      color: $bg-blue;
    }
  }
}
