.nav {
  background-color: $bg-blue;
}

.nav__wrapper {
  padding: 0 20px;
}

.nav__toggle {
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 0;
  border: none;
  background: none;
}

.nav__burger {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.nav__item {
  background-color: $bg-blue;

  &--logo {
    display: none;
  }
}

@media #{$tablet-widths} {
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__item--logo {
    display: block;
  }
}
