.social {
  padding: 18px 0;
  font-size: 0;
  text-align: center;
}

.social__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  background-color: $bg-blue;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
