.social {
  padding: 18px 0;
  font-size: 0;
  text-align: center;
}

.social__btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  background-color: $bg-blue;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    // todo add svg opacity 0.3
  }
}
