.title {
  position: relative;
}

.title__decor {
  position: absolute;
  top: 100%;
  width: 100%;
  fill: #ffffff;

  @include tablet {
    display: none;
  }
}

.title__wrapper {
  padding: 40px 20px 22px;
}

// content-title styles for title block
.title .content-title {
  margin-bottom: 30px;
}

// attractions styles after title block

.title + .attractions {
  padding-top: 16px;

  @include tablet {
    padding-top: 0;
  }
}
