.title {
  position: relative;
}

.title__decor {
  position: absolute;
  top: 100%;
  width: 100%;
  fill: #ffffff;

  @include tablet {
    display: none;
  }
}

.title__wrapper {
  padding: 42px 20px 21px;

  @include tablet {
    max-width: 560px;
    padding: 47px 20px 40px;
    margin: 0 auto;
  }
}

// content-title styles for title block
.title .content-title {
  max-width: 275px;
  margin: 0 auto 30px;

  @include tablet {
    max-width: none;
  }
}

.title .content-text {
  line-height: 1.8;
}

// attractions styles after title block
.title + .attractions {
  padding-top: 13px;

  @include tablet {
    padding-top: 0;
  }
}
